@mixin gridCards {
  display: grid;
  // grid-template-columns: repeat(4, 15em);
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto;
  grid-auto-rows: auto;
  // gap: calc((100vw - 3.22em * 2 - 4 * 15em - 1.2em * 2) / 3);
  gap: 3.22em;

  @media (max-width: 1023px) {
    font-size: 0.9rem;
    gap: 3.58em;

    button {
      font-size: 0.9rem;
    }
  }

  @media (max-width: 699px) {
    grid-template-columns: repeat(3, 1fr);
    font-size: 1.1rem;
    gap: 2.93em;

    button {
      font-size: 1.1rem;
    }
  }

  @media (max-width: 509px) {
    font-size: 1em;
    gap: 3.22em;

    button {
      font-size: 1rem;
    }
  }

  @media (max-width: 434px) {
    grid-template-columns: repeat(2, 1fr);
    font-size: 1.5rem;
    gap: 3.22em;

    button {
      font-size: 1.5rem;
    }
  }

  @media (max-width: 425px) {
    font-size: 0.9rem;
    gap: 3.22em;

    button {
      font-size: 0.9rem;
    }
  }

  @media (min-width: 1920px) {
    grid-template-columns: repeat(5, 1fr);
    gap: 1.5em;
  }

  // @media (min-width: 1440px) {
  //   grid-template-columns: repeat(4, 1fr);
  //   gap: 4em;
  // }

  // @media (min-width: 2190px) {
  //   grid-template-columns: repeat(5, 1fr);
  //   gap: 2em;
  // }

  // @media (max-width: 768px) {
  //   grid-template-columns: repeat(3, 1fr);
  //   gap: 5em;
  // }

  // @media (max-width: 700px) {
  //   grid-template-columns: repeat(3, 1fr);
  //   gap: 3em;
  // }

  // @media (max-width: 375px) {
  //   grid-template-columns: repeat(2, 1fr);
  //   gap: 5px;
  // }
}
