@mixin light-pink {
  background-color: var(--color-light-pink);
  border: var(--color-light-pink);
}

.smallBtn {
  &:hover {
    background-color: var(--color-light-gray);
  }
  &:active {
    background-color: var(--color-dark-gray);
  }

  transition: all 0.3s;

  width: 2.29em;
  height: 2.29em;
  border: 1px solid var(--color-light-gray);
  background-color: var(--color-white);
  border-radius: 0.57em;

  display: flex;
  justify-content: center;
  align-items: center;

  cursor: pointer;

  img {
    width: 0.79em;
    height: 0.79em;
  }
  svg {
    width: 1.14em;
    height: 1.14em;
  }
}

.likeBtn {
  @include light-pink;
  opacity: 0.5;

  svg {
    fill: var(--color-dark-pink);

    path {
      stroke: var(--color-dark-pink);
    }
  }

  &:hover {
    @include light-pink;
    opacity: 0.75;
  }

  &:active {
    @include light-pink;
    opacity: 1;
  }
}

.addedBtn {
  &:hover {
    background-color: var(--color-green);
    border: var(--color-green);
  }
  &:active {
    background-color: var(--color-dark-green);
    border: var(--color-dark-green);
  }

  background-color: var(--color-light-green);
  border: var(--color-light-green);
}

.moreSmallBtn {
  width: 1.5em;
  height: 1.5em;
  border-radius: 0.3em;

  img {
    width: 0.5em;
    height: 0.5em;
  }
}
