// секция корзины
.overlay {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.5);
}

.drawer {
  position: absolute;
  width: 30em;
  height: 100%;
  right: 0;
  background: var(--color-white);
  box-shadow: -10px 4px 24px rgba(0, 0, 0, 0.1);

  padding: 2.86em;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1.43em;

  @media (max-width: 425px) {
    width: 40em;
  }

  @media (max-width: 375px) {
    width: 100%;
  }

  h2 {
    font-size: 1.71rem;
  }
}

.items {
  flex: 1;
  overflow: auto;
}

.cartTotalBlock {
  ul {
    margin-bottom: 1.71em;
  }

  li {
    display: flex;
    gap: 0.5em;
    margin-bottom: 1.43em;

    span,
    b {
      font-size: 1.14rem;
    }
  }

  div {
    flex: 1;
    border-bottom: 1px dashed var(--color-dark-gray);
    transform: translateY(-4px);
  }

  .totalBtn {
    width: 100%;
  }
}

.emptyCartBox {
  flex: 1;
  padding: 0 1.43em;

  div {
    text-align: center;
  }

  .img {
    width: 8.57em;
    height: 8.57em;
    margin-bottom: 1.43em;
  }

  p {
    font-size: 1.57rem;
    font-weight: 600;
    margin-bottom: 0.45em;
  }

  .span {
    display: inline-block;
    font-size: 1.14rem;
    margin-bottom: 2.5em;
    color: var(--color-dark-gray);
  }

  .btnPosition {
    width: 100%;
  }
}
