@import url("./sass/utilites.scss");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

:root,
button,
input {
  font-size: calc(0.2em + 1vw);

  @media (max-width: 375px) {
    font-size: calc(0.4em + 1vw);
  }
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  main {
    flex: 1;

    @media (max-width: 375px) {
      padding: 2.5em;
    }
  }
}

// линия
.horisontalLine {
  width: 100%;
  border-top: 1px solid #eaeaea;
}
