@import url("./sass/utilites.scss");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

:root,
button {
  font-size: calc(0.2em + 1vw);
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  main {
    flex: 1;
  }
}

// линия
.horisontalLine {
  width: 100%;
  border-top: 1px solid #eaeaea;
}

// контент (кроссовки)
.content {
  .contentHeader {
    margin-bottom: 2.14em;
  }

  .contentBody {
    display: grid;
    grid-template-columns: repeat(4, 15em);
    grid-template-rows: auto;
    grid-auto-rows: auto;
    gap: calc((100vw - 3.22em * 2 - 4 * 15em) / 3);
  }
}

.searchBlock {
  width: 17.86em;
  border: 1px solid #f3f3f3;
  border-radius: 0.71em;
  padding: 1.07em 1.29em;

  label {
    margin-right: 1em;
    cursor: pointer;
  }
  img {
    width: 1.02em;
    height: 1.02em;
  }

  input {
    border: none;
    outline: none;
    width: 100%;
  }
}
