* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

:root,
button {
  font-size: calc(0.2em + 1vw);
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

// оболочка приложения
.wrapper {
  height: 100%;
}

// шапка
.header {
  .headerLeft {
    img {
      margin-right: 1.14em;
      width: 2.86em;
      height: 2.86em;
    }

    .headerInfo {
      h2 {
        font-size: 1.43rem;
        text-transform: uppercase;
      }
    }
  }

  .headerRight {
    :not(:last-of-type) {
      margin-right: 2.29em;
    }

    li {
      list-style-type: none;
      display: flex;
      align-items: center;

      img {
        width: 1.29em;
        margin-right: 0.71em;
      }
    }
  }
}

// линия
.horisontalLine {
  width: 100%;
  border-top: 1px solid #eaeaea;
}

// контент (кроссовки)
.content {
  .contentHeader {
    margin-bottom: 2.14em;
  }

  .contentBody {
    display: grid;
    grid-template-columns: repeat(4, 15em);
    grid-template-rows: auto;
    grid-auto-rows: auto;
    gap: calc((100vw - 3.22em * 2 - 4 * 15em) / 3);
  }
}

.searchBlock {
  width: 17.86em;
  border: 1px solid #f3f3f3;
  border-radius: 0.71em;
  padding: 1.07em 1.29em;

  label {
    margin-right: 1em;
    cursor: pointer;
  }
  img {
    width: 1.02em;
    height: 1.02em;
  }

  input {
    border: none;
    outline: none;
    width: 100%;
  }
}

// карточка
.card {
  width: 15em;
  border: 1px solid #f3f3f3;
  border-radius: 2.86em;
  padding: 1.43em 2.15em 2.42em;
  transition: all 0.3s;
  position: relative;

  &:hover {
    transform: translateY(-0.5em);
    border: 1px solid #fff;
    box-shadow: 0 5px 10px #eaeaea;
  }

  .likePosition {
    position: absolute;
  }

  .sneakerImg,
  .cardMiddle {
    margin-bottom: 14px;
  }

  .sneakerImg {
    width: 9.5em;
    height: 8em;
  }

  .cardMiddle {
    height: 3.5em;
    overflow: hidden;
  }

  .cardBottom {
    display: flex;
    justify-content: space-between;

    div {
      display: flex;
      flex-direction: column;

      span {
        text-transform: uppercase;
        font-size: 0.85em;
        color: #bdbdbd;
      }
    }
  }
}

// кнопки
.smallBtn {
  &:hover {
    background-color: #f2f2f2;
  }
  &:active {
    background-color: #dadada;
  }

  transition: all 0.3s;

  width: 2.29em;
  height: 2.29em;
  border: 1px solid #f2f2f2;
  background-color: #fff;
  border-radius: 0.57em;

  display: flex;
  justify-content: center;
  align-items: center;

  cursor: pointer;
}

.likeBtn {
  background-color: #fef0f0;
  border: #fef0f0;

  svg {
    fill: #ff8585;
    path {
      stroke: #ff8585;
    }
  }

  &:hover {
    background-color: #fbd6d6;
    border: #fbd6d6;

    svg {
      fill: #ff6c6c;
      path {
        stroke: #ff6c6c;
      }
    }
  }
  &:active {
    background-color: #fdc2c2;
    border: #fdc2c2;

    svg {
      fill: #d95b5b;
      path {
        stroke: #d95b5b;
      }
    }
  }
}

.addedBtn {
  &:hover {
    background-color: #88b84c;
    border: #88b84c;
    color: #fafafa;
  }
  &:active {
    background-color: #70983e;
    border: #70983e;
    color: #e6e6e6;
  }

  background-color: #9dd558;
  border: #9dd558;
}

.btn {
  &:hover {
    background-color: #88b84c;
    .btnMargin {
      img {
        transform: translateX(0.5em);
      }
    }
  }
  &:active {
    background-color: #70983e;
  }

  cursor: pointer;
  padding: 1.29em;
  border: none;
  background-color: #9dd558;
  border-radius: 1.29em;
  color: #fff;
  display: flex;
  align-items: center;
  gap: 1em;
  transition: all 0.3s;

  span {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .btnMargin {
    flex: 1;
    img {
      transition: transform 0.3s;
      width: 1em;
      height: 0.86em;
    }
  }
  .btnText {
    font-weight: 600;
    flex: 3;
    font-size: 1.14em;
  }
}

// подвал
.footer {
  background-color: #f2f2f2;

  p {
    color: #999;
    font-size: 0.85rem;
    width: 50%;
    margin: 0 auto;
    text-align: center;
  }
}

// секция корзины
.overlay {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.5);
}

.drawer {
  position: absolute;
  width: 30em;
  height: 100%;
  right: 0;
  background: #fff;
  box-shadow: -10px 4px 24px rgba(0, 0, 0, 0.1);

  padding: 2.86em;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1.43em;

  h2 {
    font-size: 1.71rem;
  }
}

.items {
  flex: 1;
  overflow: auto;
}

.cartItem {
  position: relative;
  border: 1px solid #f3f3f3;
  border-radius: 1.43em;
  padding: 1.43em;
  margin-bottom: 1.43em;
  gap: 1.43em;

  .sneakersImg {
    width: 5em;
    height: 5em;
    transform: translateY(-0.5em);
  }

  div {
    width: 60%;
  }

  .btnPosition {
    position: absolute;
    bottom: 1.43em;
    right: 1.43em;
  }
}

.cartTotalBlock {
  ul {
    margin-bottom: 1.71em;
  }

  li {
    display: flex;
    gap: 0.5em;
    margin-bottom: 1.43em;

    span,
    b {
      font-size: 1.14rem;
    }
  }

  div {
    flex: 1;
    border-bottom: 1px dashed #dfdfdf;
    transform: translateY(-4px);
  }

  .totalBtn {
    width: 100%;
  }
}

// модификаторы

.pad {
  padding: 3.22em;
}

.flex {
  display: flex;
}

.j-cont-sb {
  justify-content: space-between;
}

.a-items-center {
  align-items: center;
}
